.category-div{
       background-color: blue;
    padding: 3%;
    width: 90%;
    margin: 0 auto;
    border-radius: 10px;
    margin-top: 3%;
    text-align: start;
        margin-bottom: 1rem;
}
.category-div button{
        background-color: blue;
    border: none;
    color: white;
}
.category-div div{
    color: white;
    text-align: start;
}
.general-heading{
     color: rgb(255, 17, 104);
}
.header-ul-a{
    color: black;
}