.wrapper{
    background-image: url('/public/sound-wave.png');
        background-size: cover;


    height: 40vh;
 
 
    justify-content: center; 
    color: white; 

}
.header-ul{
        margin-top: 0;
            padding-top: 2rem;

}

.wrapper h2{
    color: white;
}
.checkout-page {
    padding: 20px;
    color: white;
    min-height: 100vh;
}

.picture-container{
      max-width: 400px;
    margin: 0 auto;
    display: grid
;
    justify-content: center;
}

.payment-method .card {
    background: linear-gradient(to right, #3b8ed3, #1790dc);
    border-radius: 20px;
    padding: 20px;
    color: white;
    margin-bottom: 30px;
    position: relative;
}



.balance {
    font-size: 20px;
    font-weight: bold;
    margin: 10px 0;
}

.card-holder,
.card-number {
    font-weight: 600;
}

.payment-details label {
    display: block;
    margin: 10px 0 5px;
    margin-top: 40px;
}

.payment-details input,
.payment-details select {
    width: 100%;
    padding: 10px;
    border-radius: 10px;
  
    color: white;
    border: 1px solid white;
}

.row {
    display: flex;
    gap: 10px;
}

.col {
    flex: 1;
}

.pay-btn {

    color: white;
    border: none;
    border-radius: 20px;
    padding: 15px;
    width: 100%;
    font-size: 18px;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
        align-items: center;
}

.card-scroll-container {
    display: flex;
    overflow-x: auto;
    gap: 10px;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    margin-bottom: 30px;
    width: 360px;
 
}

.card-scroll-container::-webkit-scrollbar {
    display: none;
}

.card {
    flex: 0 0 100%;
    scroll-snap-align: center;
 
    border-radius: 20px;
    padding: 20px;
    color: white;

    min-width: 100%;
    box-sizing: border-box;
}

.card.active {
 
    width: 360px;
}
.card-scroll-heading, .card-scroll-text{
    color: black;
}
.song-item p{
color: black;
}