.splash-screen {
  position: fixed;
  top: 0; 
  left: 0;
  width: 100vw; 
  height: 100vh; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  transition: opacity 1s ease-in;
  opacity: 1;
}

.fade-out {
  opacity: 0;
}

.fade-in {
  opacity: 1;
}

.splash-image {
  width: 150px;
  height: auto;
  margin-bottom: 20px;
}
